.box {
  width: 300px;
  padding-bottom: 25px;
}
.cat-pic {
  width: 40%;
  border-radius: 80px;
  display: inline-block;
  vertical-align: top;
}
.text {
  display: inline-block;
  width: 30%;
}
.profile-name {
  font-weight: bold;
}
.follow {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
}
.follow-button {
  display: inline-block;
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 100px;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15s;
  margin-left: 20px;
}
